@model Laba4._5.Storage.Entity.Personal
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="wIdth=device-wIdth" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Edit", "Personal", FormMethod.Post))
        {
            <input Id="PersonalId" name="PersonalId" type="hIdden" value="@Model.Id" />
            <label>Имя:</label>
            <input Id="name" type="text" name="name" value="@Model.name" /> <br />
            <label>Фамилия:</label>
            <input Id="lastname" type="text" name="lastname" value="@Model.lastname." /> <br />
            <label>Должность:</label>
            <input Id="dolzhnost" type="text" name="dolzhnost" value="@Model.dolzhnost" /> <br />
  
            <input type="submit" value="Редактировать персонал" /><br /><br />
        }
        <div>
            <a href="/Personal/ShowPersonals">Вернутся к списку персонала</a><br /><br />
        </div>
    </div>
</body>
</html>

