@model Laba4._5.Managers.Clients.CreateOrUpdateClients

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="wIdth=device-wIdth" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm("Create", "Client", FormMethod.Post))
    {
        <label>Имя</label>
        <input Id="name" type="text" name="name" /> <br />
        <label>Фамилия:</label>
        <input Id="lastname" type="text" name="lastname" /> <br />
        <label>Количество ночей</label>
        <input Id="nights" type="text" name="nights" /> <br />
        <label>В каком номере</label>
        <input Id="number" type="text" name="number" /> <br />


        <input type="submit" value="Добавить новую характеристику" /><br /><br />
    }
    <div>
        <a href="/Client/ShowClient">Вернуться к списку клиентов</a><br /><br />
    </div>
</body>
</html>